@model FranvaroWeb.PersonalLista
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/logInStyle.css" rel="stylesheet" />
    <link href="~/Style/VisaStatusLista.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        @if (ViewBag.ListOfStatus != null)
        {
            foreach (var category in (ViewBag.ListOfStatus as List<FranvaroWeb.FranvaroServiceReferance.StatusLista>)) //https://forums.asp.net/t/1993233.aspx?mvc+iterate+viewbag+list från rion william
            {
              <ul id="StatusBar">  
                 <li>Anställnings ID: @category.AnstallningsID</li>     @*Todo: Fixa så att datum ser ut som AdobeXd, kolla om du kan ta ut bara dagar och sätta i P element och sen månad osv.*@
                 <li>Förnamn: @category.fNamn</li>
                 <li>Datum: @category.Datum</li>
                 <li>Tid: @category.Tid</li>
                 <li>Frånvaro orsak: @category.FranvaroOrsak</li>
              </ul>

            }

        }
    </div>

    <div>
        @using (Html.BeginForm("Index", "Home"))
        {
            <p class="font">@Html.HiddenFor(m => Model.AnställningsID)</p>
            <p class="font">Förnamn @Html.EditorFor(m => Model.Fnamn)</p>
            <p class="font">Efternamn @Html.EditorFor(m => Model.Enamn)</p>

            <p class="font">Telefonnummer @Html.EditorFor(m => Model.Telefonnummer)</p>
            <p class="font">E-post @Html.EditorFor(m => Model.E_mail)</p>

            <p>
                <label for="start">Datum</label>

                <input type="date" id="datumIn" name="datumIn"
                       min="2020-01-01" max="2020-12-31">
            </p>
            <p>
                <label for="appt">Välj tid</label>
                <input type="time" id="tidIn" name="tidIn"
                       min="07:00" max="18:00" required>
            </p>

            <p>
                <label for="start">Datum</label>

                <input type="date" id="datumUt" name="datumUt"
                       min="2020-01-01" max="2020-12-31">
            </p>
            <p>
                <label for="appt">Välj tid</label>
                <input type="time" id="tidIn" name="tidIn"
                       min="07:00" max="18:00" required>
            </p>

            <label for="pet-select">Frånvaroorsak:</label>

            <select name="franOrskIn" id="franOrskIn">
                <option value="">--Välj anledning--</option>
                <option value="parent">Föräldrarledighet</option>
                <option value="komp">Kompledighet</option>
                <option value="semester">Semester</option>
                <option value="sick">Sjuk</option>
                <option value="leave">Tjänstledig</option>
                <option value="vab">Vård av barn</option>
            </select>




            <input type="submit" value="Spara" class="font" />

            //   @Html.ActionLink("Skicka in frånvaroanmälan", "Index", "Home", null)

        }


    </div>

</body>
</html>
