@model FranvaroWeb.PersonalLista
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/logInStyle.css" rel="stylesheet" />
    <link href="~/Style/VisaStatusLista.css" rel="stylesheet" />
    <title>Index</title>
</head> 
<body>
    <div>
        @if (ViewBag.ListOfStatus != null)
        {
            foreach (var category in (ViewBag.ListOfStatus as List<FranvaroWeb.FranvaroServiceReferance.StatusLista>)) //https://forums.asp.net/t/1993233.aspx?mvc+iterate+viewbag+list från rion william
            {
                <div id="StatusBar">
                    <div>
                        <p id="pFrånDag">Från</p>
                        <p id="datumDag1"> @category.Datum.Substring(8, 2) </p>
                        <p id="pFrånDatum">@category.Datum.Substring(0, 10) </p>
                        <p class="vl"></p>
                        <p id="ptidFöre">@category.Tid</p>

                    </div>

                    <div id="DatumDiv2">
                        <p id="pTillDag">Till</p>
                        <p id="datumDag2">@category.Datum.Substring(21, 2)</p>
                        <p id="pTillDatum">@category.Datum.Substring(13, 10) </p>

                        <p class="vl"></p>
                        <p id="ptidFöre">@category.Tid</p>
                    </div>
                    <div id="franVaroStatusDiv">
                        <p id="pFranvaroText">Frånvaro</p>
                        <p id="pFranvaro">@category.FranvaroOrsak</p>
                        <p id="pStatus">@category.Status</p>

                    </div>


                </div>

            }

        }
    </div>

    <div>
        @using (Html.BeginForm("Index", "Home"))
        {
            <p class="font">@Html.HiddenFor(m => Model.AnställningsID)</p>
            <p class="font">Förnamn @Html.EditorFor(m => Model.Fnamn)</p>
            <p class="font">Efternamn @Html.EditorFor(m => Model.Enamn)</p>

            <p class="font">Telefonnummer @Html.EditorFor(m => Model.Telefonnummer)</p>
            <p class="font">E-post @Html.EditorFor(m => Model.E_mail)</p>

            <p>
                <label for="start">Datum</label>

                <input type="date" id="datumIn" name="datumIn"
                       min="2020-01-01" max="2020-12-31">
            </p>
            <p>
                <label for="appt">Välj tid</label>
                <input type="time" id="tidIn" name="tidIn"
                       min="07:00" max="18:00" required>
            </p>

            <p>
                <label for="start">Datum</label>

                <input type="date" id="datumUt" name="datumUt"
                       min="2020-01-01" max="2020-12-31">
            </p>
            <p>
                <label for="appt">Välj tid</label>
                <input type="time" id="tidIn" name="tidIn"
                       min="07:00" max="18:00" required>
            </p>

            <label for="pet-select">Frånvaroorsak:</label>

            <select name="franOrskIn" id="franOrskIn">
                <option value="">--Välj anledning--</option>
                <option value="parent">Föräldrarledighet</option>
                <option value="komp">Kompledighet</option>
                <option value="semester">Semester</option>
                <option value="sick">Sjuk</option>
                <option value="leave">Tjänstledig</option>
                <option value="vab">Vård av barn</option>
            </select>




            <input type="submit" value="Spara" class="font" />

            //   @Html.ActionLink("Skicka in frånvaroanmälan", "Index", "Home", null)

        }


    </div>

</body>
</html>
